{% extends 'base.html.twig' %}

{% block title %}Hello Profil Controller!{% endblock %}

{% block body %}
<div class="container my-4">
    <h1>Mon profil</h1>
    <div class="row">
        <div class="col">
            <h2>Mes derniers posts</h2>
            {% for post in lastPosts %}
            {{ include('./components/post.html.twig') }}
            {% endfor %}
        </div>
        <div class="col">
            <h2>Modifier mon profil</h2>
        </div>
    </div>
</div>
{% endblock %}