{{ form_start(form) }}

  <div class="row">
      <div class="col-md-6">{{ form_row(form.name) }}</div>
      <div class="col-md-6">{{ form_row(form.content) }}</div>
  </div>

  <button class="btn btn-primary">Valider</button>

{{ form_end(form) }}